

<div class="container">
    <div class="card">
        <h5 class="card-title  text-center">Edit Detials</h5>
        <div class="card-body">
            <form [formGroup]="userEdit" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" (blur)="validationCheck(userRegistration.controls.email)" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
               

                <div class="form-check mb-3">
                  
                  <input type="checkbox"  value=""  formControlName="isadmin" class="form-check-input" id="isadmin" (blur)="validationCheck(isadmin)">
                  <label for="isadmin" class="form-check-label">Is  user Admin</label>
                </div>
            
                <mat-form-field appearance="fill">
                  <mat-label>Select Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dob" [min]="minDate" [max]="maxDate"
                         (dateInput)="addEvent('input', $event)" (dateChange)="addEvent( $event)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                
                <div class="mb-3" >
                  <label for="age" class="form-label">Age</label>
                  <input type="number" formControlName="age" class="form-control" id="age"  aria-describedby="emailHelp" disabled>
                 
                </div>
               
               
           

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>

